@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fjalla+One&family=Liter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 80px 90px;
  background: url("../assets/Image.png") center/cover no-repeat;
  position: relative;
  margin-top: 6rem;
  overflow: hidden;
  gap: 2rem;

  @media (max-width: 800px) {
    margin-top: 4rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.89);
    z-index: 1;
  }

  .rightSection {
    flex: 1;
    max-width: 50%;

    img {
      width: 100%;
      height: auto;
      max-height: 700px;
      object-fit: contain;
      position: relative;
      z-index: 2;
    }
  }

  .leftSection {
    position: relative;
    z-index: 2;
    color: white;
    flex: 1;
    max-width: 50%;

    h2 {
      font-size: 34px;
    }

    h1 {
      font-size: 38px;
      justify-content: left;
      span {
        color: rgb(19, 125, 64);
        font-weight: bold;
      }
    }

    p {
      font-size: 22px;
      margin-top: 10px;
      color: #F5F5F5BF;
      font-family: "Be Vietnam Pro";
    }
  }
}

@media (max-width: 770px) {
  .homeContainer {
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
    gap: 5rem;

    .leftSection,
    .rightSection {
      max-width: 100%;
    }

    .leftSection {
      h1 {
        font-size: 1.8rem !important;
        justify-content: center;
      }
      h2 {
        font-size: 1.3rem !important;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .homeContainer {
    .leftSection {
      h1 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 0.9rem !important;
      }
    }
  }
}
