.jobContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(15, 139, 68);
  padding: 30px;
  border-radius: 15px;
  gap: 3rem;
  color: #fff;

  .imageSection {
    display: flex;
    align-items: center;
    gap: 10px;

    .workerImage1 {
      width: 320px;
      height: 320px;
      border-radius: 10px;
    }
  }

  .textSection {
    text-align: left;

    h2 {
      font-size: 20px;
    }

    h1 {
      font-size: 32px;
      font-weight: bold;
      color: yellow;
      
    
      @media (max-width: 768px) {
        font-size: 20px;
        justify-content: start;
      }
    }
    h3{
      font-size: 28px;
      font-weight: bold;
      color: white;

      
      @media (max-width: 968px) {
        font-size: 20px;
        
      }

    }

    a{
      text-decoration: none;
    }
    .buttons {
      display: flex;
      gap: 15px;
      margin-top: 20px;
    
      @media (max-width: 768px) {
      
        align-items: center;
      }
    }
    
    .callButton,
    .whatsappButton {
      display: flex !important;
      align-items: center !important;
      gap: 8px !important;
      padding: 12px 20px !important;
      font-size: 16px !important;
      border-radius: 8px !important;
      text-decoration: none !important;
      transition: all 0.3s ease !important;
      border: 2px solid #4caf50 !important;
  
      @media (max-width: 1200px) {
      
       font-size: 10px !important;
       padding: 8px 10px !important;
      }
    }
    
    .callButton {
      background: rgb(8, 107, 51) !important;
      color: white !important;
      border-radius: 5px !important;
    
    
    
      &:hover {
        background: transparent  !important;
        color: white !important;
      }
    }
    
    .whatsappButton {
      background: rgb(8, 107, 51) !important;
      color: white !important;
      border-radius: 5px !important;
    
    
      &:hover {
        background: rgb(15, 139, 68) !important;
        color: white !important;
      }
    } 




  }
}

@media (max-width: 968px) {
  .jobContainer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .imageSection {
    flex-direction: column;
  }

  
}
