@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fjalla+One&family=Liter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: url("../assets/bg.jpg") no-repeat center center / cover;
  position: relative;
  color: #fff;
  border-radius: 10px;
  max-width: 100%;
  margin: 4rem auto 0;
  min-height: auto;
  overflow: hidden;
  @media (min-width: 799px) {
    margin-top: 6rem;
  }
  @media (max-width: 993px) {
    padding-bottom: 2rem; 
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  @media (min-width: 994px) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 500px;
    margin-top: 6rem;
    padding: 3rem;
  }
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 23rem;

  @media (min-width: 994px) {
    max-width: 50%;
    margin-bottom: 0;
  }
}
.imageContainer {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  transition: all 0.3s ease;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  @media (min-width: 994px) {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 100%;
    max-width: 500px;
    margin: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}

.content {
  max-width: 50%;

  @media (max-width: 992px) {
    max-width: 100%;
  }
}

.heading {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.3;
  font-family: "DM Sans";
  span {
    color: #ffde5d;
  }
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.subText {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 1.5rem;
}

.dynamicText {
  color: #ffc107;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  font-size: 38px;
  font-family: "DM Sans", sans-serif;
}

.offerList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  list-style: none;
  margin: 2rem 0;

  @media (max-width: 768px) {
    gap: 0.5rem;
  }

  @media (max-width: 996px) {
    gap: 1rem;
  }
}

.offerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: #ffde5d;

  & > :first-child {
    width: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 998px) {
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: start;

    gap: 0;
    align-items: center;

    margin: 0 auto;
    max-width: 250px;
  }

  @media (max-width: 600px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.7rem;
  }
}

.offerIcon {
  width: 24px;
  height: 24px;
}

.imageContainer {
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 450px;
  max-width: 400px;
  z-index: 2;

  @media (min-width: 464px) {
    right: 10%;
  }

  @media (min-width: 664px) {
    right: 20%;
  }

  @media (min-width: 994px) {
    right: 10%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    animation: fadeInUp 1s ease-in-out;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.callButton,
.whatsappButton {
  flex: 1;
  max-width: 200px;
  min-width: 120px;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.callButton {
  background: #169c50;
  color: white;
  border: none;
}

.callButton:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.whatsappButton {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.whatsappButton:hover {
  background: #169c50;
  color: white;
  border: 1px solid #169c50;
}

.whatsappButton img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: row;
  }

  .buttons button {
    flex: 1;
    width: auto;
    min-width: 120px;
  }
}
@media (max-width: 480px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons button {
    flex: 1;
    width: auto;
    min-width: 130px;
    padding: 8px 10px;
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
  }

  .buttons button {
    flex: 1;
    width: auto;
    min-width: 130px;
    padding: 8px 10px;
    font-size: 12px;
  }
}
