.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 70px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    
    .logo img {
      width: 120px;
      height: auto;
    }
  
    .menuIcon {
      display: none;
      font-size: 28px;
      cursor: pointer;
    }
  
    .navContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      gap: 20px;
    }
  
    .nav {
      display: flex;
      gap: 25px;
  
      .navItem {
        text-decoration: none;
        font-size: 16px;
        color: #0a0a0a;
        font-weight: 500;
        transition: color 0.3s ease;
  
        &:hover {
          color: #008000;
        }
      }
    }
  
    .contactButton {
      padding: 8px 20px;
      border: 2px solid #008000;
      border-radius: 20px;
      color: #008000;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
  
      &:hover {
        background: #008000;
        color: white;
      }
    }
  }
  
 
  @media (max-width: 768px) {
    .menuIcon {
      display: block;
    }
  
    .navContainer {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background: white;
      width: 100%;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 15px 0;
    }
  
    .showMenu {
      display: flex;
    }
  
    .nav {
      flex-direction: column;
      gap: 15px;
    }
  
    .contactButton {
      margin-top: 10px;
    }
  }
  