.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  height: 70px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;  
  width: 100%;      
  top: 0;           
  left: 0;
  z-index: 1000;    

  @media (max-width: 800px){
    padding: 30px 40px;
  }


  .logo img {
    width: 120px;
    height: auto;
  }

  .menuIcon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
  }

  .navContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav {
    display: flex;
    gap: 25px;

    .navItem {
      text-decoration: none;
      font-size: 16px;
      color: #0a0a0a;
      font-weight: 400;
      transition: color 0.3s ease;
      background: none;
      border: none;
      padding: 10px 15px;

      &:hover {
        color: #008000;
      }
    }

    .contactButton {
      background: transparent;
      color: #20c020;
      border: 1px solid #4cb94c;
      padding: 10px 20px;
      border-radius: 25px; 
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-size: 16px;
    
      &:hover {
        background: #2ba72b;
        color: white;
        border: 1px solid #08a208 !important; 
        
      }
    }
    
  }
}

@media (max-width: 768px) {
  .menuIcon {
    display: block !important;
    font-size: 28px;
    cursor: pointer;
    z-index: 1100;
  }

  .navContainer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  .showMenu {
    right: 0 !important;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
  }
}
