.jobContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(15, 139, 68);
  padding: 30px;
  border-radius: 15px;
  gap: 3rem;
  color: #fff;

  .imageSection {
    display: flex;
    align-items: center;
    gap: 10px;

    .workerImage1 {
      width: 320px;
      height: 320px;
      border-radius: 10px;
    }
  }

  .textSection {
    text-align: left;

    h2 {
      font-size: 20px;
    }

    h1 {
      font-size: 28px;
      font-weight: bold;
      color: yellow;
    }

    .buttonGroup {
      display: flex;
      gap: 15px;
      margin-top: 15px;

      button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;

        img {
          width: 20px;
        }
      }

      .whatsappButton {
        background: rgb(4, 85, 39);
        color: #fff;
      }

      .callButton {
        background: #044f1a;
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .jobContainer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .imageSection {
    flex-direction: column;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;

    button {
      width: 100%;
    }
  }
}
